*{
  padding: 0;
  margin :0;
  box-sizing: border-box;
}
body{
  background-color: cadetblue;
  .App{
    text-align: center;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:darkslateblue;
    padding: 50px;
    form{
      input[type="text"]{
        display: block;
        width: 100%;
        padding: 8px 15px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #eee;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        &::placeholder{
          color: #aaa
        }
      }
      input[type="submit"]{
        background-color: teal;
        padding: 10px 15px;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
        width: 150px;
        margin-bottom: 30px;
        }
    }
    .weather{
      div{
        display: flex;
        background-color:slategrey;
        color: white;
        padding: 15px;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        &:last-child{
          border-bottom: 0;
        }
        &.error{
          color: crimson;
          justify-content: center;
          background-color: white;
          border-bottom: 0;
        }
      }
    }
  }
}